@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* Global CSS Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
    background-color: #0e063d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gowun Batang", serif;
    margin: 0;
    line-height: 1.5;
}


p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.5;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

button,
input[type=text],
input[type=submit] {
    font-family: "Raleway", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.py-5 {
    padding: 50px 0;
}

.pb-5 {
    padding-bottom: 50px;
}

.pt-5 {
    padding-top: 50px;
}

.pb-4 {
    padding-bottom: 40px;
}


.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 35px;
}

/* colors
#00FADF headings and icons and shdow menu icon
#ff5f00  buttons
#fff for some headings too

.btn {
    position: relative;
    padding: 11px 32px;
    background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cmn-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(351.09deg, #F0B000 4.36%, #F029A0 117.5%);
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cmn-btn:hover::before {
    left: 0;
    transition: all 0.5s ease;
}

refrence theme 

https://preview.themeforest.net/item/begam-online-gaming-tournaments-html-template/full_screen_preview/33740600?_ga=2.226170969.259321675.1726721418-154049816.1719381000&_gac=1.124778872.1726467419.Cj0KCQjwi5q3BhCiARIsAJCfuZm8hFzgJNDiCWxb7B30YWxnWlj-VjBrRWWavUp2nf5yBualqFnf5sgaAioKEALw_wcB
 */


/* Global CSS End */


/*Header CSS Start */
.logo img {
    text-align: center;
    width: 100%;
    max-width: 220px;
    vertical-align: middle;
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    background-image: url("../images/site-images-bg.jpg");
    background-blend-mode: multiply;
    background-color: rgba(0 0 0/40%);

}

/* .site-header.fixed-header {
    background-color: #1f0644;
} */

.main-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


.desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.main-navbar ul li a {
    padding: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 600;
    position: relative;
    color: #fff;
}

.main-navbar ul li a:hover {
    color: #00FADF;
}


.main-navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.3px;
    bottom: 0;
    left: 0;
    background: #00FADF;
    transform-origin: bottom right;
    transition: all 0.4s ease-out;
}

.main-navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main-navbar ul li a.active {}

.close-icon {
    display: none;
}

.menu-icon {
    display: none;
    color: #fa009f;
    width: 30px;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    z-index: 60;
}

/* Header CSS End */

/* Section Heading CSS Start */
h2.section-heading {
    font-size: 40px;
    line-height: 1.5;

    margin: 0 auto;
}

/* Section Heading CSS End */

/* Banner Section CSS Start */
.banner {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.banner-image {
    height: 600px;
    width: 100%;
}

.banner-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: 0% 0%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0/70%);
    background-blend-mode: multiply;
    overflow: hidden;
    text-align: center;
}

.banner-text h1 {
    font-size: 70px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    animation: slideright 1.5s ease-in-out forwards;
    transform: translateX(100%);
    overflow: hidden;
    opacity: 0;
}

.banner-text h3 {
    font-size: 30px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 15px;
    transform: translateX(-100%);
    animation: slideright 1.5s ease-in-out forwards;
    overflow: hidden;
    opacity: 0;
}

@keyframes slideleft {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideright {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Banner Section  CSS End */

h2.section-heading{
    text-align: center;
    font-size: 60px;
}


/* Home Page Intro Text CSS Start */
.pages-intro-wrapper {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 10px;
}

.pages-intro-wrapper p {
    color: #fff;
    font-size: 20px;
}

/* Home Page Intro Text CSS End */

/* Home Page Signup Form CSS Start */
.home-signup-section {
    background-image: url("../images/form-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
}



.form-modal {
    position: relative;
    width: 900px;
    height: auto;
    margin-top: 4em;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4)
}

.form-modal button {
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size: 1em;
    z-index: 2;
    outline: none;
    background: #fff;
    transition: 0.2s;
}

.form-modal .btn {
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.8em 1em 0.8em 1em !important;
    transition: 0.5s;
    border: 1px solid #ebebeb;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.form-modal .login,
.form-modal .signup {
    background: #00FADF;
    color: #000;
}

.form-modal .login:hover,
.form-modal .signup:hover {
    background: #222;
}

.form-toggle {
    position: relative;
    width: 100%;
    height: auto;
}

.form-toggle button {
    width: 50%;
    float: left;
    padding: 1.5em;
    margin-bottom: 1.5em;
    border: none;
    transition: 0.2s;
    font-size: 1.1em;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form-toggle button:nth-child(1) {
    border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2) {
    border-bottom-left-radius: 20px;
}

#login-toggle {
    background: #00FADF;
    color: #ffff;
}

.form-modal form {
    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#login-form,
#signup-form {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

#signup-form {
    display: none;
}


#login-form button,
#signup-form button {
    width: 100%;
    margin-top: 0.5em;
    padding: 0.6em;
}

.form-modal input {
    position: relative;
    width: 100%;
    font-size: 1em;
    padding: 1.2em 1.7em 1.2em 1.7em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-radius: 20px;
    border: none;
    background: #ebebeb;
    outline: none;
    font-weight: bold;
    transition: 0.4s;
}

.form-modal input:focus,
.form-modal input:active {
    transform: scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder {
    color: #222;
}


.form-modal p {
    font-size: 16px;
    font-weight: bold;
}

.form-modal p a {
    color: #57b846;
    text-decoration: none;
    transition: 0.2s;
}

.form-modal p a:hover {
    color: #222;
}


/* .form-modal i {
    position: absolute;
    left:10%;
    top:50%;
    transform:translateX(-10%) translateY(-50%); 
} */
/* Home Page Signup Form CSS End*/
.site-images {
    background-image: url("../images/site-images-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0 0 0/60%);
    background-attachment: fixed;
}

.site-image-wrapper {
    height: 100%;
    width: 100%;
}

.site-image-wrapper img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    height: 550px;
}

.site-image-wrapper h3 {
    color: #fff;
    margin-top: 20px;
}

.our-prediction-wrapper ,.prop-prediction-wrapper{
    color: #fff;
}
.our-prediction-wrapper h2,.prop-prediction-wrapper h2 {
    color:#00FADF;
}
.our-prediction-wrapper p,.prop-prediction-wrapper p {
font-size: 17px;
}
.brand-logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brand-logos {
    height: 150px;
    width: 150px;
    margin: 0 20px;
    aspect-ratio: 3/2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
    transition: 0.4s all ease-in-out;
}
.brand-logos:hover{
transform: translateY(-4px);
}

.brand-logos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}



.how-we-compare-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.how-we-compare-cards {
    width: 30%;
    padding: 20px;
    background-color:#00FADF;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #fff 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .5s ease-in;
    border-radius: 10px;
    overflow: hidden;
    min-height: 230px;
    border: 1px solid #658cf6;
}

.how-we-compare-cards:hover {
    background-position: 0 0;
    box-shadow:#00FADF 0px 6px 15px;
    transform: translateY(-1px);
}
.how-we-compare-content p{
    color: #000;
      font-size: 17px;
      font-weight: 500;
}
.how-we-compare-cards-wrapper>p {
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 500;
}

.how-we-compare-icons img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

    















/* Cookies CSS Start */
.wrapper {
    position: fixed;
    bottom: -100%;
    width: 100%;
    background-color: #280B70;
    padding: 15px 25px 22px;
    transition: all 1s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper.show {
    bottom: 0;
}

.info {
    margin-bottom: 15px;
}

.info p {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.button {
    width: calc(40% / 2 - 10px);
    padding: 8px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #cf2d5e;
    color: #fff;
    cursor: pointer;
    transition: all 0.7s ease;
    font-weight: 600;
}

.button:hover {
    border-color: #000;
    color: #cf2d5e;
    background-color: #fff;

}

/* Cookies CSS End */