@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* Global CSS Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
    background-color: #0e063d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gowun Batang", serif;
    margin: 0;
    line-height: 1.5;
}


p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.5;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

button,
input[type=text],
input[type=submit] {
    font-family: "Raleway", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.py-3 {
    padding: 30px 0;
}

.py-5 {
    padding: 50px 0;
}

.pb-5 {
    padding-bottom: 50px;
}

.pt-5 {
    padding-top: 50px;
}

.pb-4 {
    padding-bottom: 40px;
}


.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 35px;
}

/* colors
#00FADF headings and icons and shdow menu icon
#ff5f00  buttons
#fff for some headings too

.btn {
    position: relative;
    padding: 11px 32px;
    background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cmn-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(351.09deg, #F0B000 4.36%, #F029A0 117.5%);
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cmn-btn:hover::before {
    left: 0;
    transition: all 0.5s ease;
}

refrence theme 

https://preview.themeforest.net/item/begam-online-gaming-tournaments-html-template/full_screen_preview/33740600?_ga=2.226170969.259321675.1726721418-154049816.1719381000&_gac=1.124778872.1726467419.Cj0KCQjwi5q3BhCiARIsAJCfuZm8hFzgJNDiCWxb7B30YWxnWlj-VjBrRWWavUp2nf5yBualqFnf5sgaAioKEALw_wcB
 */


/* Global CSS End */


/*Header CSS Start */
.logo img {
    text-align: center;
    width: 100%;
    max-width: 220px;
    vertical-align: middle;
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    background-image: url("../images/site-images-bg.jpg");
    background-blend-mode: multiply;
    background-color: rgba(0 0 0/40%);

}

/* .site-header.fixed-header {
    background-color: #1f0644;
} */

.main-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


.desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.main-navbar ul li a {
    padding: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 600;
    position: relative;
    color: #fff;
}

.main-navbar ul li a:hover {
    color: #00FADF;
}

.main-navbar ul li a.active:after {
    color: #00FADF;
    transform: scaleX(1);
}


.main-navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.3px;
    bottom: 0;
    left: 0;
    background: #00FADF;
    transform-origin: bottom right;
    transition: all 0.4s ease-out;
}

.main-navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}





.close-icon {
    display: none;
}

.menu-icon {
    display: none;
    color: #00FADF;
    width: 30px;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    z-index: 60;
}

/* Header CSS End */

/* Section Heading CSS Start */
h2.section-heading {
    font-size: 40px;
    line-height: 1.5;
    line-height: normal;
    margin: 0 auto;
    color: #00FADF;
}

/* Section Heading CSS End */

/* Banner Section CSS Start */
.banner {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.banner-image {
    height: 600px;
    width: 100%;
}

.banner-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: 0% 0%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0/70%);
    background-blend-mode: multiply;
    overflow: hidden;
    text-align: center;
}

.banner-text h1 {
    font-size: 70px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    animation: slideright 1.5s ease-in-out forwards;
    transform: translateX(100%);
    overflow: hidden;
    opacity: 0;
}

.banner-text h3 {
    font-size: 30px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 15px;
    transform: translateX(-100%);
    animation: slideright 1.5s ease-in-out forwards;
    overflow: hidden;
    opacity: 0;
}

@keyframes slideleft {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideright {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Banner Section  CSS End */

h2.section-heading {
    text-align: center;
    font-size: 60px;
}


/* Home Page Intro Text CSS Start */
.pages-intro-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: #00fadf 0px 50px 100px -20px, #F0B000 0px 30px 60px -30px, #00FADF 0px -2px 6px 0px;
    padding: 20px;
    border-radius: 10px;
}

.pages-intro-wrapper p {
    color: #fff;
    font-size: 20px;
}

/* Home Page Intro Text CSS End */

/* Home Page Signup Form CSS Start */
.pages-signup-section {
    background-image: url("../images/form-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
}

.form-modal {
    position: relative;
    width: 900px;
    height: auto;
    margin-top: 4em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

.form-modal button {
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size: 1em;
    z-index: 2;
    outline: none;
    background: #fff;
    transition: 0.2s;
}

.form-modal .btn {
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.8em 1em 0.8em 1em !important;
    transition: 0.5s;
    border: 1px solid #ebebeb;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.form-modal .login,
.form-modal .signup {
    background: #00FADF;
    color: #000;
}

.form-modal .login:hover,
.form-modal .signup:hover {
    background: #222;
}

.form-toggle {
    position: relative;
    width: 100%;
    height: auto;
}

.form-toggle button {
    width: 50%;
    float: left;
    padding: 1.5em;
    margin-bottom: 1.5em;
    border: none;
    transition: 0.2s;
    font-size: 1.1em;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form-toggle button:nth-child(1) {
    border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2) {
    border-bottom-left-radius: 20px;
}

#login-toggle {
    background: #00FADF;
    color: #000;
}

.form-modal form {
    position: relative;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#login-form,
#signup-form {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

#signup-form {
    display: none;
}


#login-form button,
#signup-form button {
    width: 30%;
    margin-top: 0.5em;
    padding: 0.6em;
}

.form-modal input {
    position: relative;
    width: 80%;
    font-size: 1em;
    padding: 1.2em 1.7em 1.2em 1.7em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-radius: 20px;
    border: none;
    background: #ebebeb;
    outline: none;
    font-weight: bold;
    transition: 0.4s;
}

.form-modal input:focus,
.form-modal input:active {
    transform: scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder {
    color: #222;
}


.form-modal p {
    font-size: 16px;
    font-weight: bold;
}

.form-modal p a {
    color: #57b846;
    text-decoration: none;
    transition: 0.2s;
}

.form-modal p a:hover {
    color: #222;
}


/* .form-modal i {
    position: absolute;
    left:10%;
    top:50%;
    transform:translateX(-10%) translateY(-50%); 
} */
/* Home Page Signup Form CSS End*/
.site-images {
    background-image: url("../images/site-images-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0 0 0/60%);
    background-attachment: fixed;
}

.site-image-wrapper {
    height: 100%;
    width: 100%;
}

.site-image-wrapper img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    height: 550px;
}

.site-image-wrapper h3 {
    color: #fff;
    font-size: 30px;
    max-width: 900px;
    margin: 20px auto 0 auto;
    font-weight: 700;
    text-align: center;
    padding: 0 5px;
}

.our-prediction-wrapper,
.prop-prediction-wrapper,
.home-decision-wrapper {
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}


.our-prediction-wrapper p,
.prop-prediction-wrapper p,
.home-decision-wrapper p {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.brand-logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brand-logos {
    height: 150px;
    width: 150px;
    margin: 0 20px;
    aspect-ratio: 3/2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
    transition: 0.4s all ease-in-out;
}

.brand-logos:hover {
    transform: translateY(-4px);
}

.brand-logos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}



.prop-prediction-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.prop-prediction-cards {
    width: 30%;
    padding: 20px;
    background-color: #00FADF;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #fff 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .45s ease-in;
    border-radius: 10px;
    overflow: hidden;
    min-height: 230px;
    border: 1px solid #658cf6;
}

.prop-prediction-cards:hover {
    background-position: 0 0;
    box-shadow: #00FADF 0px 6px 15px;
    transform: translateY(-1px);
}
.prop-prediction-icons {
    margin-bottom: 15px;
}

.prop-prediction-content p {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}

.prop-prediction-cards-wrapper>p {
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 500;
}

.prop-prediction-icons img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

/* Home Second Signup CSS Start */
.pages-signup2-wrapper h3 {
    color: #fff;
    font-size: 30px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-image {
    width: 40%;
    overflow: hidden;
}

.form-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.form-container {
    width: 60%;
    padding: 20px;
    background-image: url("../images/form-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0 0 0/50%);
    background-blend-mode: multiply;
}

.form-wrapper {
    height: 100%;
    width: 100%;
}

#contact {
    background-image: url("../images/how-we-compare-bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25px;
    height: 100%;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact select,
#contact button[type="submit"] {
    width: 80%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover,
#contact select:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}


#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact select {
    max-width: 100%;
    color: #888;
    outline: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    border: none;
    color: #fff;
    margin: 0 0 5px;
    width: 30%;
    padding: 15px 30px;
    font-size: 17px;
    transition: 0.4s all ease-in-out;
    background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
}

#contact button[type="submit"]:hover {
    box-shadow: #fff 0px 5px 10px;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder,
::-webkit-select-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/* Home Second Signup CSS Start */

.sports-play-cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sports-play-cards {
    width: 32%;
    background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: 0.3s all ease-in-out;
}

.sports-play-cards:hover {
    transform: translateY(-5px);
}

.sports-play-image {
    text-align: center;
}

.sports-play-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.sports-play-text h3 {
    color: #ffff;
    font-size: 30px;
    margin-top: 10px;
}

/* nklds */

.our-tips-card {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.our-tips-card-image {
    height: 100%;
    width: 100%;
}
.our-tips-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.our-tips-cards-text a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0 0 0/70%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-tips-cards-text h3 {
    font-size: 40px;
    color: #fff;
}

/* njndkjfn  */

.about-us-cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.about-us-cards {
    width: 30%;
    border: 1px solid #fff;
    padding: 25px;
    border-radius: 20px;
    min-height: 200px;
    text-align: center;
    box-shadow: #00FADF 0px 7px 6px, #F0B000 0px 7px 6px;
    transition: 0.4s all ease-in-out;
}

.about-us-cards:nth-child(2) {
    margin: 0 30px;
}

.about-us-cards:hover {
    box-shadow: #fff 0px 7px 10px;
    transform: translatey(-2px);
}

.about-cards-icon {

    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.about-cards-icon img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    text-align: center;
}

.about-us-cards h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

/* dfjkldnkl */










/* Home Page newsletter CSS Start */
.pages-newsletter-section {
    background-image: url("../images/newsletter-bg1.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(1px);
}

.pages-newsletter-wrapper {
    text-align: center;
    padding: 30px 0;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pages-newsletter-wrapper h3 {
    padding: 0 10px;
    font-size: 30px;
}

.pages-newsletter-input-wrapper {
    padding-top: 20px;
    margin: 0 auto;
}

input.pages-newsletter-input {
    width: 40%;
    display: inline-block;
    font-size: 16px;
    padding: 13px 25px;
    outline: none;
    border: 1px solid #fff;
    line-height: 20px;
    border-radius: 25px 0 0 25px;
    font-weight: 600;
}

.butn {
    display: inline-block;
    padding: 13px 25px;
    font-size: 16px;
    color: #fff;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
    line-height: 20px;
    border-radius: 0 25px 25px 0;
    position: relative;
    background: linear-gradient(351.09deg, #F029A0 4.36%, #F0B000 117.5%);
}

.butn:hover {
    box-shadow: #fff 0px 5px 10px;
}


.pages-newsletter-wrapper h3 {
    font-size: 35px;
    max-width: 1000px;
    margin: 0 auto 20px auto;
    line-height: normal;
    font-weight: 700;
    color: #fff;
}

/* Home Page newsletter CSS End */

/* Footer CSS Start */
.footer {
    width: 100%;
    background-image: url("../images/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 30px;
    overflow: hidden;
    width: 100%;
    /* max-width: 1000px; */
}

.logo-bottom img {
    width: 100%;
}

.lg-btm {
    width: 100%;
}

.lg-btm a {
    width: 100%;
}

.lg-btm a img {
    width: 100%;
    object-fit: cover;
    max-width: 240px;
}

.logo-bottom {
    width: 20%;
}

.footer-items {
    width: 30%;
}

.footer-items h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
    color: #00fadf;
}

.footer-links h3 {
    text-align: left;
}

.footer-items .social-icons {
    width: 100%;
    margin: 15px auto;
}


.footer-items ul li a {
    padding: 3px 0;
}

.footer .footer-items ul li a {
    transition: 0.6s all ease;
    font-size: 17px;
    position: relative;
    color: #fff;
}

.footer .footer-items ul li a:hover {
    color: #00fadf;
}


.footer .footer-items ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #00fadf;
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
}

.footer-items ul li a:hover:after {
    width: 100%;
}

.footer .footer-items ul li a:hover {
    transform: translateX(3px);
}

.footer-icons {
    min-width: 20px;
    margin-right: 6px;
}

.copyright {
    padding: 15px 0;
    text-align: center;
    margin: auto 0;
    border-top: 1px solid #00fadf;
}

.copyright p {
    color: #fff;
    text-align: center;
}

.ssl-certificate img {
    max-width: 160px;
}

/* Footer CSS End */


/* Social Icons CSS Start */
.social-icons {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

}

.social-icons i {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    background-color: #00fadf;
    color: #000;
    line-height: normal;
    margin: 0 5px;
    transition: 0.3s all ease-in-out;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.social-icons i:hover {
    transform: translateY(-2px);
    color: #fff;
}

.social-icons i.facebook:hover {
    background-color: #116af9;
    box-shadow: #fff 0px 4px 8px;
}

.social-icons i.twitter:hover {
    background-color: #1da1f2;
    box-shadow: #fff 0px 4px 8px;
}

.social-icons i.instagram:hover {
    background-color: #da1090;
    box-shadow: #fff 0px 2px 4px;
}

.social-icons i.linkedin:hover {
    background-color: #0a66c2;
    box-shadow: #fff 0px 2px 4px;
}

/* Social Icons CSS End */

.disclaimer {
    background-image: url("../images/disclaimer-bg.png");
    background-repeat: no-repeat;
    background-color: rgb(40 11 112/80%);
    background-blend-mode: multiply;
    background-size: cover;
}
.disclaimer-wrapper h3 {
    color: #00FADF;
    font-size: 30px;
}
.disclaimer-wrapper {
    padding: 15px;
}

.disclaimer-wrapper p {
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.7;
}

span.heading-like {
    font-weight: 700;
    color: #00FADF;
    margin-right: 5px;
}

.disclaimer ol li::marker {
    color: #00FADF;
}

/* nfnbkjnk */
.prediction-group-section{
    background-image: url("../images/our-prediction-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.preiction-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.preiction-group:nth-child(odd) {
    flex-direction: row-reverse;
}

.prediction-group-image {
    width: 40%;
    overflow: hidden;
}

.prediction-group-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    max-height: 300px;
    object-position: 0% 0%;
}

.preiction-group:hover .prediction-group-image img {
    transform: scale(1.05);
}

.prediction-group-text {
    padding: 20px;
    width: 60%;
}

.prediction-group-text h3 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
    text-underline-offset: 5px;
    transition: 0.8s all ease-in-out;
    text-decoration: underline;
}

.prediction-group-text p {
    font-size: 20px;
    color: #fff;
}

/* Sub Pages CSS Start */
.sub-pages span.heading-like {
    color: #fa009f;
    font-weight: 700;
    font-size: 17px;
}

.sub-pages-content-section {
    background-image: url("../images/sub-pages-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.sub-pages-group {
    margin-bottom: 35px;
    padding: 20px;
    box-shadow: 0px 0px 7px 4px #00FADF;
    border-radius: 10px;
}

.sub-pages-group:last-child {
    margin-bottom: 0px;
}

.sub-pages-group h3 {
    font-size: 27px;
    margin-bottom: 10px;
    color: #00FADF;
}

.sub-pages-group h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.sub-pages-group p {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.sub-pages-group ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 17px;
    color: #ffff;
}

.sub-pages-group h3 a {
    color: #00fadf;
    transition: 0.3s all ease-in-out;
}

.sub-pages-group h3 a:hover {
    color: red;
    transform: translateX(2px);
}

.sub-pages-group p a {
    color: #00FADF;
    font-weight: 600;
    font-size: 17px;
    transition: 0.3s all ease-in-out;
}

.sub-pages-group p a:hover {
    color: blue;
    transform: translateX(2px);
}

.sub-pages-group ul {
    margin: 10px auto;
}

/* Sub Pages CSS End */

/*Pages  Banner Section CSS Start */
.pages-banner {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.pages-banner-image {
    height: 450px;
    width: 100%;
}

.pages-banner-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: center;
}

.pages-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0/70%);
    background-blend-mode: multiply;
    overflow: hidden;
    text-align: center;
}

.pages-banner-text h1 {
    font-size: 55px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    animation: slideright 1.5s ease-in-out forwards;
    transform: translateX(100%);
    overflow: hidden;
    opacity: 0;
}

@keyframes slideleft {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideright {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Pages Banner Section  CSS End */


/* Contact Us Page CSS Start */
.contact-page-content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 5px;
}

.contact-page-content-wrapper #contact {
    height: auto;
}

.right_side_first,
.left_side {
    width: 50%;
}

.contact_section h3 {
    font-size: 30px;
    text-align: left;
    line-height: 30px;
    margin-top: 20px;
    padding: 0;
    color: #fff;
}

input.form-control.sub_btn {
    width: 200px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: #000;
    border: 1px solid #000;
    transition: all 0.5s;
}

input.form-control.sub_btn:hover {
    background-color: #000;
    color: #fff;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.row.email p a {
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    font-size: 15px;
    text-transform: capitalize;
}

.contact_social {
    margin: 10px 0;
}

.contact_social ul {
    display: flex;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.right_side_first {
    padding: 30px;
}

.contact_social ul li {
    float: left;
    margin-right: 10px !important;
}

.contact_social ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    color: var(--primary-color);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    background: var(--secondary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contact_social ul li a:hover {
    background: transparent;
    border: 1px solid #0e46a31a;
    color: var(--primary-color);
}

/* Contact Us Page CSS Start */







/* Cookies CSS Start */
.wrapper {
    position: fixed;
    bottom: -100%;
    width: 100%;
    background-color: #280B70;
    padding: 15px 25px 22px;
    transition: all 1s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper.show {
    bottom: 0;
}

.info {
    margin-bottom: 15px;
}

.info p {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.button {
    width: calc(40% / 2 - 10px);
    padding: 8px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #cf2d5e;
    color: #fff;
    cursor: pointer;
    transition: all 0.7s ease;
    font-weight: 600;
}

.button:hover {
    border-color: #000;
    color: #cf2d5e;
    background-color: #fff;

}

/* Cookies CSS End */